<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://www.adriencouture.com", target="_blank">Adrien Couture</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", pages_about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
